@import url("timeCircles.css");
@import url("slick.css");
@import url("icons.css");

*{
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
html {
    font-size: 10px; /* Makes it easier to calculate from em to px */
}
body {
    font-size: 16px; 
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 100%;
    color: rgba(0,0,0,.75);
/*    background-color: #f1c40f;*/
    background-color: #DFBA54;
    -webkit-transition: background 0.4s; /* Safari */
    transition: background 0.4s;
}
body.blur .wrapper {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    
    transition: 0.4s -webkit-filter linear;
}
.button {
    color: #eee;
    background: #222;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    width: 130px;
    text-align: center;
    margin: 10px;
}
.button.bottom {
    position: absolute;
    bottom: 15px;
    left: 75px;
}
.button.ghost  {
    border: 2px solid #333;
    color: #222;
    background: none;
    padding: 13px;
    width: auto;
    bottom: 15px;
    left: 85px;
}

.ghost:hover {
    background: #222;
    border-color: #222;
    color: #DFBA54;
}
.guideOverlay .ghost:hover {
    color: #eee;
}
.button#start {
    color: #DFBA54;
}

body.falseBg {
/*    background-color: #e74c3c;*/
    background-color: #CA553A;
}
body.falseBg .answers { /* Temporary test */
/*    background-color: #c0392b;*/
}
body.correctBg {
/*    background-color: #2ecc71;*/
    background-color: #569362;
}
body.correctBg .answers { /* Temporary test */
/*    background-color: #27ae60;*/
}
.page {
}

/* Question */
.question {
    position: relative;
    width: 100%;
/*    height: 30%;*/
    min-height: 50%;
    text-align: center;
    padding: 5rem 4rem 0 4rem;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .7);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question p {
/*    margin: 3rem;*/
    margin: 0;
    font-size: 2em;
}
.question #character,
.question #title,
.question #releaseTitle {
    color: rgba(0, 0, 0, 1);
    font-size: 1.1em;
}
/* Question - END */

/* Answer */
.answers {
    position: relative;
    width: 100%;
    max-height: 50;
}
.answer {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    cursor: col-resize;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.answer p {
    margin: 1rem 10%;
    font-size: 2em;
    width: 80%;
}
.answer.left {
}
.answer.left p:before,
.answer.right p:before {
    font-family: 'icomoon';
    font-size: 2em;
    position: relative;
    top: 13px;
    padding: 10px;
    display: block;
    color: rgba(0, 0, 0, .4);
}
.answer.left p:before {
    content: "\e601";
}
.answer.right {
}
.answer.right p:before{
    content: "\e600";
}
/* Answer - END */

/* Feedback */
.feedback div {
    position: relative;
    height: 100%;
    width: 100%;
}
.answered .correct {
}
.answered .false {
}
.whichMovieparagraf {
    display: none;   
}
.whichMovie .whichMovieparagraf {
    display: block;
}
.whichMovie .whichActorparagraf {
    display: none;
}
/* Feedback - END */

/* Countdown timer */
#DateCountdown {
    position: fixed;
    top: 0;
    right: 0;
}
canvas {
    opacity: 0.6;
}
/* Countdown timer - END */

/* Score */
.score {
    font-family: 'Century Gothic', Arial;
    font-weight: bold;
    font-size: 2.5em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 13px;
}
.score #score + span {
    font-size: 0.5em;
    font-weight: 300;
}
/* Score - END */

/* Popup */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.popup {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background: #eee;
    width: 300px;
    height: 300px;
    padding: 15px;
    font-size: 2em;
    text-align: center; 
    
}
#popupscore {
    font-size: 0.8em;
}
/* Popup - END */

/* Intro */
.intro {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #DFBA54;
    font-size: 2em;
    text-align: center;
}
.introInner {
    display: table-cell;
    vertical-align: middle;
}
#ticketTop { 
    transition: all .2s ease-in-out;
}
.gameStart #ticketTop { 
    transform: scale(1.1) rotate(-15deg);
} 
.time_circles > div > span {
        line-height: 10px!important;
    }

@media (min-width: 768px) {
    .answer p, .answer.left:before,.answer.right:before, .question p{
          font-size: 2.5em;
    }
    .score{
        font-size: 3em;
    }
    .time_circles > div > span {
        font-size: 2.4em!important;
        line-height: 11px!important;
    }
}
.guideOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}
.guideOverlay__text{
    width: 300px;
    padding: 30px 15px;
    position: absolute;
    font-size: 2em;
    top: 100px;
    background: #eee;
    left: calc(50% - 150px);
}
.guideOverlay__text .button {
    margin: 30px 0 0 0 ;
}
.guideOverlay__text.tip1{
    left: 10px;
    top: 66px;
}

.guideOverlay__text.tip2{
    left: calc(100% - 310px);
    top: 90px;
}
.guideOverlay__text.tip2:before{
    left: 260px;
}
.guideOverlay__text.tip3{
    left: calc(50% - 150px);
    top: 40%;
}
.guideOverlay__text.tip3:before{
    left: 135px;
}

.guideOverlay__text.tip4{
    left: calc(50% - 150px);
    top: auto;
    bottom: 35%;
}
.guideOverlay__text.tip4:before{
    left: 135px;
    top: auto;
    bottom: -28px;
    border-color: #eee transparent transparent transparent;
}
.guideOverlay__text.tip5{
    left: calc(50% - 150px);
    top: calc(50% - 100px);
}
.guideOverlay__text.tip5:before{
    display: none;
}

.guideOverlay__text:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 14px;
    border-color: transparent transparent #eee transparent;
    border-style: solid;
    position: absolute;
    top: -28px;
    left: 10px;
    z-index: 89;
}

/* Intro - END */