@import url("timeCircles.css");
@import url("slick.css");
@import url("icons.css");

*{
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
html {
    font-size: 10px; /* Makes it easier to calculate from em to px */
}
body {
    font-size: 16px; 
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 100%;
    background-color: #f1c40f;
    -webkit-transition: background 0.4s; /* Safari */
    transition: background 0.4s;
}
body.blur .wrapper {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    
    transition: 0.4s -webkit-filter linear;
}
.button {
    color: white;
    background: black;
    cursor: pointer;
    display: inline-block;
    padding: 17px;
    width: 130px;
    text-align: center;
    margin: 10px;
}
.button.bottom {
    position: absolute;
    bottom: 15px;
    left: 75px;
}
.button.ghost  {
    border: 2px solid black;
    color: black;
    background: none;
    padding: 15px;
    width: auto;
    bottom: 15px;
    left: 85px;
}
.button#start {
    color: #f1c40f;
}


body.falseBg {
    background-color: #e74c3c;
}
body.falseBg .answers { /* Temporary test */
/*    background-color: #c0392b;*/
}
body.correctBg {
    background-color: #2ecc71;
}
body.correctBg .answers { /* Temporary test */
/*    background-color: #27ae60;*/
}
.page {
}

/* Question */
.question {
    position: relative;
    width: 100%;
/*    height: 30%;*/
    min-height: 50%;
    text-align: center;
    padding: 5rem 4rem 0 4rem;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .7);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question p {
/*    margin: 3rem;*/
    margin: 0;
    font-size: 2em;
}
.question #character,
.question #title,
.question #releaseTitle {
    color: rgba(0, 0, 0, 1);
    font-size: 1.1em;
}
/* Question - END */

/* Answer */
.answers {
    position: relative;
    width: 100%;
    max-height: 50;
}
.answer {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    cursor: col-resize;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.answer p {
    margin: 1rem 10%;
    font-size: 2em;
    width: 80%;
}
.answer.left {
}
.answer.left p:before {
    font-family: 'icomoon';
    content: "\e601";
    font-size: 2em;
    position: relative;
    top: 13px;
    padding: 10px;
    display: block;
}
.answer.right {
}
.answer.right p:before{
    font-family: 'icomoon';
    content: "\e600";
    font-size: 2em;
    position: relative;
    top: 13px;
    padding: 10px;
    display: block;
}
/* Answer - END */

/* Feedback */
.feedback div {
    position: relative;
    height: 100%;
    width: 100%;
}
.answered .correct {
}
.answered .false {
}
.whichMovieparagraf {
    display: none;   
}
.whichMovie .whichMovieparagraf {
    display: block;
}
.whichMovie .whichActorparagraf {
    display: none;
}
/* Feedback - END */

/* Countdown timer */
#DateCountdown {
    position: fixed;
    top: 0;
    right: 0;
}
canvas {
    opacity: 0.6;
}
/* Countdown timer - END */

/* Score */
.score {
    font-family: 'Century Gothic', Arial;
    font-weight: bold;
    font-size: 2.5em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 13px;
}
.score #score + span {
    font-size: 0.5em;
    font-weight: 300;
}
/* Score - END */

/* Popup */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.popup {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background: white;
    width: 300px;
    height: 300px;
    padding: 15px;
    font-size: 2em;
    text-align: center; 
    
}
#popupscore {
    font-size: 0.8em;
}
/* Popup - END */

/* Intro */
.intro {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f1c40f;
    font-size: 2em;
    text-align: center;
    padding: 0 calc(50% - 200px);
}
.introInner {
    display: table-cell;
    vertical-align: middle;
}
#ticketTop { 
    transition: all .2s ease-in-out;
}
.gameStart #ticketTop { 
    transform: scale(1.1) rotate(-15deg);
} 
.time_circles > div > span {
        line-height: 10px!important;
    }

@media (min-width: 768px) {
    .answer p, .answer.left:before,.answer.right:before, .question p{
          font-size: 2.5em;
    }
    .score{
        font-size: 3em;
    }
    .time_circles > div > span {
        font-size: 2.4em!important;
        line-height: 11px!important;
    }
}
.guideOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}
.guideOverlay__text{
    width: 300px;
    padding: 30px 15px;
    position: absolute;
    font-size: 2em;
    top: 100px;
    background: rgba(255,255,255,0.9);
    left: calc(50% - 150px);
}
.guideOverlay__text.moveDown{
    top: inherit;
    bottom: 20%;
}
/* Intro - END */